/*
	Shane Schroll - 502 Media Group
	Theme and Update edits
	Compiled -> /style-edit-dist.css
*/

$black: #000;

// fix centering on next and prev links on slider
.single-project {
	.owl-next {
		.fa-stack-1x, .fa-stack-2x {
			left: 50%;
			transform: translateX(-48%);
		}
	}

	.owl-prev {
		.fa-stack-1x, .fa-stack-2x {
			left: 50%;
			transform: translateX(-52%)
		}
	}

	// fix slider overlay video box
	.project_video {
		border: unset;
		box-shadow: 0 0 4px 0 rgba($black, 0.5);

		.play-icon {
			&:before {
				content: url('./scss/play-button.svg');
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}