/*
.approach-tab-popup-button {
	position: absolute;
	top: 46%;
	left: 38%;
}

.approach-tab-popup-button:hover + .approach-tab-popup {
	//opacity: 1;
	display: block;
}
*/

.projects-archive .projectfeature {
	overflow: visible;
}

.projects-archive .chosen-container-single .chosen-single {
	height: 55px;
	background: white !important;
	font-size: 17px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 2px 0 3px 13px;
}

.projects-archive .chosen-container-single .chosen-single div b {
    background: none !important;
	display: flex;
	justify-content: center;
}

.chosen-container-single .chosen-single div i {
	
	margin: auto;
	color: rgb(168, 0, 33);
	margin-right: 20px;
}

/*
.chosen-container .chosen-results li {
	padding: 10px 40px 10px 28px;
}
*/


.available-positions-block .wp-block-column.jobposting {
	-moz-box-shadow: 0 0 10px rgba(4,4,4,.24);
	-webkit-box-shadow: 0 0 10px rgba(4,4,4,.24);
	box-shadow: 0 0 10px rgba(4,4,4,.24);
	padding: 20px;
}

.available-positions-block .wp-block-column.jobposting p:first-of-type{
	margin-top: 0;
}


.main-navigation li:not(.contact-us):hover {
	padding: 14px 13px;
}
.main-navigation li:not(.contact-us):hover a {
	width: 100%;
	background: white;
	margin: auto;
	/* text-align: center; */
	border-left: 2px solid;
	border-right: 2px solid;
	line-height: 14px;
	padding: 0 5px;
}

.main-navigation li:not(.contact-us):hover a::before {
	content: "";
	border: 2px solid;
	position: absolute;
	left: 0; 
	right: 0;
	bottom: 0px;
	top: 20px;
	z-index: -1;
}


.approach-tab-popup .fa-caret-down{
	position: absolute;
	top: -13px;
	left: -12px;
	color: white;
	font-size: 40px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.site-branding svg {
		position: static;
	}
	
	.homeanimation svg {
		display: block !important;
	}
}

.approach-tab-popup .approach-tab-popup-arrow {
	position: absolute;
	//left: -16px;
	//top: -10px;
	//transform: rotate(-90deg);
	left: -27px;
	top: 0px;
}

.site-copy .column_one, .site-copy .column_two {
	margin-right: auto;
}

.site-copy .column_three {
	margin-left: auto;
}

/*
.home .owl-carousel .owl-item .slideitem {
  animation-name:left-right;
 animation-fill-mode: both;
	transition-duration: 2000ms;
	animation-duration: 20000ms;
  animation-iteration-count: infinite;
  background-size: 110%;
}

@keyframes left-right {
 0% {
  background-position: 0 0;
 }
 50% {
  background-position: 100% 100%;
 }
  100% {
  background-position: 0 0;
 }
}

*/

/*
.home .owl-carousel .owl-item .homeanimation {
	//width: 300px;
	//height: 300px;
	//background: red;
}

.home .owl-carousel .owl-item .homeanimation svg {
	//display: none;
	//opacity: 0;
	//visibility: hidden;
	//width: 0;
	//height: 0;
}

.home .owl-carousel .owl-item .homeanimation:after {
	//content: "after";
}

.home .owl-carousel .owl-item .homeanimation svg:after {
	//content: "after";
}

.home .owl-carousel .owl-item.active .homeanimation svg {
	//display: inline;
	//opacity: 1;
}

*/

.homeanimation svg{
	//display: none;
}

.home .owl-carousel .owl-item {
    //-webkit-backface-visibility: hidden;
	//-webkit-transform: translateZ(0) scale(1.0, 1.0);
    //transform: translateZ(0) scale(1.0, 1.0);
	//opacity: 0.5 !important;
}

/*
.home .owl-carousel .owl-item svg g, .home .owl-carousel .owl-item line,
*/

.home .owl-carousel .owl-item svg g, .home .owl-carousel .owl-item line, .home .owl-carousel .owl-item polyline {
	//display: none;
	//display: inline;
	//visibility: hidden;
}


/*
.home .homeslider .owl-item .slideitem {
    animation: kenburns 15s infinite;
	transform: translateZ(0);
	transform: rotateZ(360deg);
	background-size: 100%;
  }
  
  
@keyframes kenburns {
  0% {
    background-size: 100%;
    animation-timing-function: linear;
  }
  50% {
    background-size: 120%;
    animation-timing-function: linear;
  }
  100% {
    background-size: 100%;
    animation-timing-function: linear;
  }
}

@-webkit-keyframes kenburns {
  0% {
    background-size: 100%;
    animation-timing-function: linear;
  }
  50% {
    background-size: 120%;
    animation-timing-function: linear;
  }
  100% {
    background-size: 100%;
    animation-timing-function: linear;
  }
}

@-moz-keyframes kenburns {
  0% {
    background-size: 100%;
    animation-timing-function: linear;
  }
  50% {
    background-size: 120%;
    animation-timing-function: linear;
  }
  100% {
    background-size: 100%;
    animation-timing-function: linear;
  }
}
	
  */
	
/*
@keyframes kenburns {
  5% {
    background-size: 100%;
    animation-timing-function: ease-in;
  }
  45% {
    background-size: 110%;
    animation-timing-function: ease-in;
  }
  60% {
    background-size: 110%;
    animation-timing-function: ease-in;
  }
  100% {
    background-size: 100%;
    animation-timing-function: ease-in;
  }
}
*/

.slideoverlay {
	//display: none;
	z-index: 2;
}

.home .owl-carousel .owl-item * {
	//max-width: 300px !important;
	//max-height: 300px !important;
	//background: red !important;
}

ul#ftlogos {
	flex-wrap: wrap;
}

.home .owl-carousel .owl-item .slideitem {
	position: relative;
	overflow: hidden;
	background: none !important;
	//background: red !important;
	left: -1px;
}

.kenburns {
	//transition-property:opacity;
	//animation-name:left-right;
	//animation-fill-mode:forwards;
	//transition-duration: 2000ms;
	//opacity: 0;
	//animation-duration: 8000ms;
	//animation: left-right 15s infinite;
	height: 130%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 140% !important;
	left: -20%;
	object-fit: cover;
	max-width: none;
	z-index: 1;
}

.home .owl-carousel .owl-item .slideitem .slidecontent {
	z-index: 3;
}

.kenburns {
	width: 125% !important;
	height: 125% !important;
	left: 0;
	-webkit-animation: kenburns 20s infinite;
	-moz-animation: kenburns 20s infinite;
	-o-animation: kenburns 20s infinite;
	animation: kenburns 20s infinite;
}


.kenburns.start.even {
	//object-position: 0 0%;
	//transform: translateX(0%);
	-webkit-animation: left-right 20s infinite;
	-moz-animation: left-right 20s infinite;
	-o-animation: left-right 20s infinite;
	animation: left-right 20s infinite;
}

.kenburns.start.odd {
	//object-position: 0 100%;
	//transform: translateX(-20%);
	-webkit-animation: right-left 20s infinite;
	-moz-animation: right-left 20s infinite;
	-o-animation: right-left 20s infinite;
	animation: right-left 20s infinite;
}


@keyframes kenburns {
 0% {
  object-position: 0 0%;
  transform: translateX(0%);
 }
	
 100% {
  object-position: 0 100%;
  transform: translateX(-20%);
 }
}

@keyframes left-right {
 0% {
  object-position: 0 0%;
  transform: translateX(0%);
 }
	
 100% {
  object-position: 0 100%;
  transform: translateX(-20%);
 }
}

@keyframes right-left {
  0% {
	  object-position: 0 100%;
	  transform: translateX(-20%);
 }
 
 100% {
  object-position: 0 0%;
  transform: translateX(0%);
 }
}
	
 



