/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*!
Theme Name: bhs_construction
Theme URI: https://underscores.me/
Author: Underscores.me
Author URI: https://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bhs_construction
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

bhs_construction is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
	text-transform: uppercase;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Titillium Web', sans-serif;
	margin-top: 0;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{
	color: #991E31;
}
.approach-tab-key h4{
	color: #000;
}
h2{
	font-size: 2.2em;
	line-height: 1em;
	margin-bottom: .7em;
}
h3{
	font-size: 18px;
	line-height: 1.1em;
	margin-bottom: .5em;
}
.entry-content h4{
  color: rgb(22, 22, 22);	
	margin: 0 auto 1em;
	font-size: 1.4em;
	line-height: 1.1em;
}
.entry-content h6{
  color: rgb(22, 22, 22);	
	margin: 0 auto;
	font-size: 1.1em;
	font-weight: normal;
}
.projectscta h3{
	font-s
}
.entry-content p {
	margin-bottom: 1.5em;
	font-size: .8em;
	line-height: 1.6em;
	font-family: 'Supria Sans', sans-serif;
	color: #1D1D1D;
	letter-spacing: 0;
}
.wp-block-quote{
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	padding: 3.5em 7em;
	background: #EFEFEF;
  position: relative;
	margin: 3em auto;
	font-size: 1.2em;
}
.wp-block-quote:before{
	display: block;
	content: '"';
	position: absolute;
	left:0px;
	top: -130px;
	font-size: 260px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
	color: #AA1E31;
  align-items: flex-start;
	font-style: italic;
}
.wp-block-quote:after{
	display: block;
	content: '"';
	position: absolute;
	right:60px;
	top: -130px;
	font-size: 260px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
	color: #AA1E31;
	font-style: italic;
}
.entry-content blockquote p{
	color: #AA1E31;
  font-weight: bold;
  text-align: center;
}
.entry-content blockquote cite:before{
	content: "- ";
}
.entry-content blockquote cite{
	text-align: center;
	margin: 0 auto;
	font-size: .8em;
}
dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.entry-content ul, .entry-content ol {
	margin: 0 0 1.5em 1.5em;
	font-family: 'Titillium Web', sans-serif;
	padding: 0;
	font-size: .9em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}
.site-branding {
	width: 137px;
	height: 96px;
  display: flex;  
}
.site-branding img{
	width: 137px;
	height: 96px;
	display: block;
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}
select#categoryfilter{
	font-family: 'Supria Sans', sans-serif;
	font-size: 14px;
	padding: 11px 12px;
}
textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
	margin: 0 10px;
}

.main-navigation li:last-of-type {
	float: left;
	position: relative;
	margin: 0 0 0 40px;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-size: 18px;
	padding: 14px 20px;
	text-transform: uppercase;
	color: rgb(170,30,49);
}
.main-navigation li.contact-us a{
	border-radius: 2px;
	background-color: #AA1E31;
	-webkit-box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
	        box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
	color: #fff;
	
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-navigation li.contact-us a:hover{
	-webkit-box-shadow: none;
	        box-shadow: none;
	position: relative;
	top: 2px;
	
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* CCG CODE */

 /* FONTS 
Titillium Web
font-family: 'Titillium Web', sans-serif;
font-weight: 400, 400i, 600, 600i, 700, 700i;

Supria Sans Bold
font-family: supria-sans, sans-serif;
font-weight: 700;
font-style: normal;

Supria Sans Bold Italic
font-family: supria-sans, sans-serif;
font-weight: 700;
font-style: italic;

Supria Sans Regular
font-family: supria-sans, sans-serif;
font-weight: 400;
font-style: normal;

Supria Sans Regular Italic
font-family: supria-sans, sans-serif;
font-weight: 400;
font-style: italic;

Supria Sans Cond Bold
font-family: supria-sans-condensed, sans-serif;
font-weight: 700;
font-style: normal;

Supria Sans Cond Bold Italic
font-family: supria-sans-condensed, sans-serif;
font-weight: 700;
font-style: italic;

Supria Sans Cond Regular
font-family: supria-sans-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Supria Sans Cond Regular Italic
font-family: supria-sans-condensed, sans-serif;
font-weight: 400;
font-style: italic;

END FONTS
*/
body.page{
	margin: 0 auto;
}
body #page{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
.container{
	max-width: 1240px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
/* HEADER */
.site-header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	    -ms-flex-pack: space-between;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 127px;
}
ul#primary-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	align-items: center;
}
/* PRE FOOTER CTAS */
#prefooterctas{
	margin: 80px auto 87px;
	font-family: supria-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
}
#prefooterctas h3{
	font-family: 'Titillium Web', sans-serif;
	font-style: italic;
	font-size: 32px;
	line-break: 48px;
	margin: 0 0 20px;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px rgba(0,0,0,.5);
}
#prefooterctas .ctaheadline{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
#prefooterctas li .ctaheadline .fas{
	display: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
#prefooterctas li:hover .ctaheadline .fas{
	display: block;
}
#prefooterctas .ctaheadline .fas.fa-long-arrow-alt-right{
	font-size: 20px;
}

/* FOOTER */
.site-footer{
	background: rgb(170, 30, 49);
	color: #fff;
	font-family: supria-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	padding-top: 40px;
}
.site-footer .item{
	margin: 10px;
}
.site-copy .column_three.item{
	display: flex;
}
.site-copy .column_three.item a{
	display: flex;
	flex-direction: row;
}
.ftlogo{
	margin-left: 5px;
}
.site-footer ul#socialicons{
	margin: 0;
	padding: 0;
	list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.site-footer ul#socialicons li{
	margin: 0 5px;
}
.site-footer ul#socialicons li a{
	color: #fff;
	font-size: 21px;
}
.footerlogosvg{
	margin-bottom: 37px;
}
.site-info.container{
	max-width: 1240px;
	width: 100%;
	padding: 0 20px;
}
.site-info .coltwothree{
	display: flex;
	justify-content: space-between;
	flex: 1;
	max-width: 40%;
}
.site-info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	flex-wrap: wrap;
}
.site-info a{
	color: #fff;
	text-decoration: none;
}
.site-info a:hover{
	text-decoration: underline;
}
.site-info h3{
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	line-height: 27px;
	margin-top: 12px;
	margin-bottom: 0;
}
.site-info .column_four h3{
	text-align: center;
}
.site-copy{
	border-top: 1px solid rgba(255,255,255,.2);
	margin: 25px auto 0;
	padding: 20px 20px 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	flex-wrap: wrap;
}
.site-copy.container{
	max-width: 1240px;
	width: 100%;
}
.site-copy{
	font-size: 12px;
	line-height: 15px;
}
/* PRE FOOTER CTAS */
ul#ftcta{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
ul#ftcta a, ul#ftcta a:hover{
	text-decoration: none;
  width: 100%;
}
ul#ftcta li{
	max-width: 400px;
	width: 100%;
	min-height: 136px;
	display: flex;
	flex-direction: column;
	padding: 25px 25px;
	color: #fff;
	background-size: cover !important;
	background-color: rgba(140,140,140,1) !important;
	background-blend-mode: multiply !important;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
ul#ftcta li:hover{
	background-color: rgba(170,30,49,1) !important;
	background-blend-mode: multiply !important;
}
/* AFFILIATIONS & REFERENCES */
#affiliationsreferences{
	-webkit-box-shadow: 0px -1px 22px 0 rgba(0,0,0,.09);
	        box-shadow: 0px -1px 22px 0 rgba(0,0,0,.09);
	padding: 28px 30px 39px;
	margin-top: 1em;
}
#affiliationsreferences .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.affiliationsreferencesheader h3{
	font-size: 18px;
	line-height: 27px;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
}
.affiliationsreferenceslogos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
ul#ftlogos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: center;
}
ul#ftlogos li{
	width: 60px;
	height: 60px;
	margin: 10px 37px;
  display: flex;
	align-items: center;
}
ul#ftlogos img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
	opacity: .4;
}
.viewall a{
	border-radius: 2px;
	background: rgb(168, 0, 33);
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 33px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	-webkit-box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
	        box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
}
.viewall a:hover{
	-webkit-box-shadow: none;
	        box-shadow: none;
	position: relative;
	top: 2px;
	
}
ul#footer-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-size: 12px;
	flex-wrap: wrap;
}
ul#footer-menu li{
	margin-right: 24px;
}
ul#footer-menu li:last-of-type{
	margin: 0;
}
.site-copy a, ul#footer-menu li a{
	color: #fff;
	text-decoration: none;
}
.site-copy a:hover, ul#footer-menu li a:hover{
	text-decoration: underline;
}


.home .owl-carousel .owl-item .slideitem, .projectslider .owl-item .slideitem {
	height: 100vh;
	min-height: 500px;
	max-height: 739px;
	max-width: 1440px;
  width: 100%;
	//display: flex;
	//justify-content: center;
	//align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.mfp-close {
	font-size: 0 !important;
	opacity: 1 !important;
}

.mfp-close::after {
	font-family: "Font Awesome 5 Pro";
	font-size: 25px;
	content: "\f057";
	color: #fff;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	position: absolute;
	right: 1em;
	top: 1em;
}


.featured-projects .box .boxout {
	opacity: 0;
	background: inherit;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	background-color: white;
	//position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	//margin: 10% 12%;
	//-webkit-transition: 0.3s all;
	//-o-transition: 0.3s all;
	//transition: 0.3s all;
	-webkit-clip-path: inset(15px 15px);
	        clip-path: inset(15px 15px);
	-webkit-transition: opacity .6s ease-out;
	-o-transition: opacity .6s ease-out;
	transition: opacity .6s ease-out;
}

.featured-projects .box:hover .boxout {
	opacity: 1;
}

.featured-projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1220px;
	margin: -100px auto 4em;
	position: relative;
	z-index: 10;
}
.home .featured-projects .box {
	height: 400px;
	width: 100%;
	max-width: 590px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: white;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 10px;
}

.featured-projects .box {
	max-height: 400px;
	height: 40vh;
	width: 100%;
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: white;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 5px;
}


.featured-projects .box .boxcontent {
	height: 100%;
	//max-height: 400px;
	width: 100%;
	//max-width: 580px;
	position: relative;
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 30px;
	//padding: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: justify;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: calc(100% - 30px);
	width: calc(100% - 30px);
	background: rgba(68,68,72, 0);
	-webkit-transition: background .6s ease-out, opacity .6s ease-out;
	-o-transition: background .6s ease-out, opacity .6s ease-out;
	transition: background .6s ease-out, opacity .6s ease-out;
	opacity: 0;
}

.featured-projects .box:hover .boxcontent {
	background: rgba(0,0,0,0.3);
	opacity: 1;

}

.featured-projects .box .boxcontent h3 {
	margin: 0;
}

.featured-projects .box .boxcontent hr {
	background: white;
	width: 45%;
	height: 3px;
}

.project-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: 'Supria Sans', sans-serif;
	padding: 0 20px;
}
.project-next-post{
	padding: 0 20px;
}
.project-details-left h2, .project-details-right h2{
	color: #991E31;
	font-size: 40px;
	font-family: 'Titillium Web', sans-serif;

}
.project-details-left {
	border-right: 3px solid black;
	padding-right: 40px;
	margin-right: 0px;
	flex: 50%;
}
.project-details-right {
		flex: 50%;
		padding-left: 40px;

}
.project-details-right td{
	padding: 5px !important;
}
.project-details .project-features {
	margin-left: 0;
}

.project_excerpt {
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
	max-width: 790px;
	margin: 0 auto 60px;
	padding: 0 20px;
}

.owl-nav {
	margin: 0;
}

.projectslider .owl-nav .owl-prev {
	position: absolute;
	top: 40%;
	left: 0;
	font-size: 40px;
	background: transparent;
}

.projectslider .owl-nav .owl-next {
	position: absolute;
	top: 40%;
	right: 0;
	font-size: 40px;
	background: transparent;
}

.project_video {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 400px;
	position: absolute;
	bottom: -26px;
	left: 37px;
	border: 1px solid;
	z-index: 10;
	background: white;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px;
}

.projectslideshow {
	position: relative;
}

.project_video_text {
  width: 50%;
}

.project_video_link {
	width: 50%;
}

.projectslideshow {
	margin-bottom: 40px;
}


.projectslider .owl-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.homeanimation{
	max-width: 824px;
	max-width: 100%;
	width: 100%;
	width: 824px;
	height: 100%;
}
.page-template-projects .entry-header{
	display: none;
}
.page-template-projects .post-thumbnail img{
	height: 100%;
	max-height: 408px;
	-o-object-fit: cover;
	   object-fit: cover;
}

/* PROJECTS CTA */
#projectscta{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 100px;
  background-size: cover !important;
	background-color: rgba(65,64,66,1) !important;
	background-blend-mode: multiply !important;
	//margin-top: 80px;
	-webkit-backdrop-filter: blur(10px) !important; /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(10px) !important; /* Supported in Chrome 76 */
}
#projectscta .item{
	margin: 0 68px;
}
#projectscta .headline{
  font-family: 'Titillium Web', sans-serif;
	font-size: 40px;
	color: #fff;
	font-weight: bold;
}
#projectscta .headline h3{
	margin: 0 auto;
	font-size: 1.1em;
}
#projectscta .button a{
	border-radius: 2px;
	color: rgb(168, 0, 33);
	background: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	-webkit-box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
	        box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
}

#projectscta .button a:hover{
	background: rgb(168, 0, 33);
	color: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	position: relative;
	top: 2px;
}
/* PAGE DEFAULT */
.feature{
	height: 100%;
	min-height: 408px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-size: cover !important;
	background-color: rgba(65,64,66,1) !important;
	background-blend-mode: multiply !important;
	background-position: center bottom;
}
.feature .entry-title{
	font-size: 60px;
	line-height: 1em;
	text-align: center;
}
.feature .entry-title em, .projects-archive .projectfeature h1 em{
	font-size: .8em;
}
.feature .site-main{
	max-width: 1200px;
	margin: -40px auto 0;
}
.feature .site-main{
	max-width: 1200px;
	margin: -40px auto 0;
}
/* SINGLE PROJECT */
.projectfeature{
	height: 100%;
	min-height: 408px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-size: cover !important;
	background-color: rgba(65,64,66,1) !important;
	background-blend-mode: multiply !important;
	background-position: center center;
}
.projectfeature .entry-title{
	font-size: 60px;
	line-height: 1em;
	padding: 0 20px;
}
.single-project .site-main{
	max-width: 1200px;
	margin: -40px auto  80px;
}

.wp-block-columns.borderleft, .wp-block-group.borderleft{
	border-left: 2px solid #979797;
	padding-left: 2em;
	margin-left: 1em;
}
.wp-block-column p.borderleft{
	border-left: 2px solid #979797;
	padding-left: 2em;
	margin-left: 1em;
}
.wp-block-column:not(:first-child) {
  margin-left: 10vw;
}
.jobposting.wp-block-column {
  margin-left: 2vw !important;
}
.wp-block-columns:first-of-type .jobposting{
	margin-left: 0;
}
.wp-block-columns.divider .wp-block-column:not(:first-child) {
  margin-left: 5vw;
	border-left: 2px solid #D8D8D8;
	padding-left: 5vw;
}
.project-next-post {
	margin-top: 70px;
}
.page-template-default .entry-content{
	max-width: 1200px;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
.button a, .button a:visited {
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 0;
    height: auto;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}
gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type="submit"], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type="submit"],
.button.red_button a, .button.red_button a:visited{
	border-radius: 2px;
	background: rgb(168, 0, 33);
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: .4em 1.8em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	-webkit-box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
	        box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
}
gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_footer input[type="submit"]:hover, .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type="submit"]:hover,
.button.red_button a:hover{
	-webkit-box-shadow: none;
	        box-shadow: none;
	position: relative;
	top: 2px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: none;
    color: #ccc;
    text-decoration: none;
	mix-blend-mode: none;
}
/* CONTACT FORM */
.contactblock{
	position: relative;
	top: -40px;
	background: #fff;
	box-shadow: 0 2px 4px 0px rgba(0,0,0,0.5)
}
.contactblock .wp-block-column:not(:first-child) {
    margin-left: 0;
}
.whitecontact{
	padding: 2em;
}
.redcontact{
	padding: 2em;
	background: #AA1E31;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.redcontact p{
	color: #fff;
	margin-left: 40px;
	text-indent: -35px;
	
	margin-bottom: 45px;
}
.redcontact p strong{
	font-size: 1.2em;
}
.redcontact p.address:before{
	content: "\f3c5";
	font-weight: 900;
	margin-right: 20px;

}
.redcontact p.phone:before{
	content: "\f879";	
	font-weight: 900;
	margin-right: 20px;

}
.redcontact p.phone a {
	color: #fff;
	text-decoration: none;

}
.redcontact p.phone a:hover{
	text-decoration: underline;
}
.redcontact p.fax:before{
	content: "\f1ac";
	font-weight: 900;
	margin-right: 20px;
}
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
    width: 100% !important;
}
body .gform_wrapper .top_label div.ginput_container, .gform_wrapper li.hidden_label input {
    margin-top: 0 !important;
}
.502logo{
	width: 20px;
	height: auto;
}
.staff-list{
	justify-content: flex-start !important;
	margin-bottom: 4em;
}

/* Matt CSS merge */
.box .boxcontent a {
	color: white;
	text-decoration: none;
}

.projects-archive .featured-projects .box:nth-of-type(4n + 1), .projects-archive .featured-projects .box:nth-of-type(4n + 4){
	width: calc(65% - 10px);
}

.projects-archive .featured-projects .box:nth-of-type(4n + 2), .projects-archive .featured-projects .box:nth-of-type(4n + 3) {
	width: calc(35% - 10px)
}


.home .owl-carousel .owl-item .slideitem {
	display: flex;
	justify-content: center;
	align-items: center;
}

a.videolink {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Titillium Web";
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.videolink .fas.fa-caret-circle-right{
	font-size: 40px;
}
a.videolink svg{
	margin-left: 15px;
}
.project_video_link {
	position: relative;
}
.project_video_link i {
	position: absolute;
	top: 38%;
	font-size: 40px;
}

.home .owl-carousel .owl-item .slideitem .slidecontent {
	color: white;
	text-align: center;
	position: relative;
}


.slideoverlay {
	background: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.5;
}

.featured-projects .box .boxcontent a::after {
	content: '';
	position: absolute;
	top: -20px;
	bottom: -20px;
	left: -20px;
	right: -20px;
	z-index: 1;
}

.projects-archive .projectfeature {
	flex-direction: column;
}

.projects-archive .projectfeature h1 {
	font-size: 60px;
}

.projects-archive .featured-projects {
	margin-top: -40px;
}

.more-projects {
	margin: 3em auto;
	
	display: flex;
	justify-content: center;
}

.more-projects a {
	border-radius: 2px;
	background: rgb(168, 0, 33);
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 33px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	-webkit-box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
	box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
}
.more-projects a:hover{
	-webkit-box-shadow: none;
	        box-shadow: none;
	position: relative;
	top: 2px;
	
}

.project-next-post .box {
	height: 400px;
	width: 100%;
	//max-width: 595px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: white;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0px;
}

.project-next-post .box .boxcontent {
	height: 100%;
	//max-height: 400px;
	width: 100%;
	//max-width: 580px;
	position: relative;
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 30px;
	//padding: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: justify;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: calc(100% - 30px);
	width: calc(100% - 30px);
	//background: rgba(68,68,72, 0);
	background: rgba(139, 0, 0, 0.5);
}

.project-next-post .box .boxcontent h3 {
	margin: 0;
}

.project-next-post .box .boxcontent span {
	position: absolute;
	left: 10%;
}

.project-next-post .box .boxcontent a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.staff-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1210px;
	/* margin: -100px auto 0; */
	position: relative;
	z-index: 10;
}

.staff-list .box {
	height: 400px;
	width: 100%;
	min-width: 288px;
	max-width: 24%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: white;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 5px;
}

.staff-list .box .boxout {
	opacity: 0;
	background: inherit;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	filter: blur(4px);
	-webkit-filter: blur(4px);
	background-color: white;
	//position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	//margin: 10% 12%;
	//-webkit-transition: 0.3s all;
	//-o-transition: 0.3s all;
	//transition: 0.3s all;
	-webkit-clip-path: inset(15px 15px);
	clip-path: inset(15px 15px);
	-webkit-transition: opacity .6s ease-out;
	-o-transition: opacity .6s ease-out;
	transition: opacity .6s ease-out;
}

.staff-list .box .boxcontent {
	height: 100%;
	//max-height: 400px;
	width: 100%;
	//max-width: 580px;
	position: relative;
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 30px;
	//padding: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: justify;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: calc(100% - 30px);
	width: calc(100% - 30px);
	background: rgba(68,68,72, 0);
	-webkit-transition: background .6s ease-out, opacity .6s ease-out;
	-o-transition: background .6s ease-out, opacity .6s ease-out;
	transition: background .6s ease-out, opacity .6s ease-out;
	opacity: 0;
}


.staff-list .box:hover .boxout {
	opacity: 1;
}

.staff-list .box:hover .boxcontent {
	background: rgba(0,0,0,0.3);
	opacity: 1;
}

.staff-list .staff-list-name {
	color: white;
	position: absolute;
	left: 15px;
	right: 0;
	bottom: 12px;
	transition: opacity .6s ease-out;
}

.staff-list h4, .staff-list h5 {
	color: white;
	margin: 0;
}

.staff-list .box:hover .staff-list-name {
	opacity: 0;
}

.staff-more-info {
	border-radius: 2px;
	background:  #fff;
	color: rgb(168, 0, 33);
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 33px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	-webkit-box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
	box-shadow: 0 6px 5px -6px rgba(0,0,0,0.85);
	margin-top: 20px;
}

.boxpopup {
	position: relative;
	background: #fff;
	//padding: 20px;
	height: 100%;
	width: auto;
	max-width: 80vw;
	margin: 20px auto;
	display: flex;
}

.boxpopup .rightside .staff-list-detail {
	border-left: 2px solid #979797;
	padding-left: 2em;
	margin-left: 1em;
	font-size: .8em;
}

.boxpopup .leftside {
	background: rgb(168, 0, 33);
	text-align: center;
	color: white;
	flex: 1;
}
.boxpopup .leftside h2{
	margin-bottom: 20px;
}

.boxpopup .leftside img {
	max-width: 100%;
	position: relative;
	top: -30px;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,.5);
}

.boxpopup .rightside {
	padding: 2em;
	flex: 1;
}

.boxpopup .mfp-close::after {
	color: gray;
}


.staff-list .box .boxcontent a::after {
	content: '';
	position: absolute;
	top: -20px;
	bottom: -20px;
	left: -20px;
	right: -20px;
	z-index: 1;
}

.site-branding svg {
	position: relative;
	z-index: 10;
}
.redcontact p.address::before, .redcontact p.phone::before, .redcontact p.fax::before {
	font-family: "Font Awesome 5 Pro";
}

.communityslideshow {
	max-width: 1200px;
	margin: -40px auto 0;
}


/* SLIDE OUT MENU */
.menu-container {
	position: absolute;
	right: -300px;
	//right: 0;
	z-index: 15;
	width: 300px;
	height: 100%;
	background: #AA1E31;
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;
	padding-top: 28px;
}

body.side-nav-open .menu-container {
	right: 0;
}

body {
	position: relative;
}
.side-nav-open-container {
	display: none;
	position: absolute;
	background: black;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 12;
	opacity: 0.8;
}
body.side-nav-open .side-nav-open-container  {
display: block;
}


#site-navigation .menu-toggle {
	background: #AA1E31;
	color: #fff;
	border: none;
	height: 48px;
	width: 48px;
	border-radius: 100%;
	cursor: pointer;
	float: right;
}

#side-navigation .menu-toggle {
	background: none;
	color: white;
	border: none;
	font-size: 24px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: flex-end;
	    -ms-flex-pack: flex-end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Lato", sans-serif;

}
#site-navigation .menu-toggle:hover{
	color: #fff;
}

#side-navigation .menu-toggle .menu-toggle-x { 
	background: rgba(0,0,0,1);
	color: #fff;
	border-radius: 100%;
	padding: 6px 10px;

	width: 48px;
	height: 48px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;	
	-webkit-box-align: center;	
	    -ms-flex-align: center;	
	        align-items: center;
}

#side-navigation i.fa-chevron-down {
	color: #44647D;
}


.menu-container ul#primary-menu > li {
	border-top: 1px solid #ccc;
	padding: 15px;
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
}
.menu-container ul#primary-menu > li:hover{
	background: rgba(0,0,0,.3)
}
.menu-container ul#primary-menu > li a{
	color: #fff;
}
.menu-container ul#primary-menu > li:first-of-type {
	border-top : none;
}
.menu-container ul#primary-menu > li:last-of-type {
	border-bottom : 1px solid #ccc;
}


.menu-container ul#primary-menu {
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

html, body {
	overflow-x: hidden;
}

#site-navigation .menu-toggle {
  display: none;
}


.side-navigation .menu-main-menu-container ul{
		list-style: none;
		margin: 0;
		padding: 0;
}
	
a {
	text-decoration: none;
}
.fa-bars{
	font-size: 1rem;
}
@media (max-width: 1023px){
	.menu-main-menu-container{
		display: none;
	}
	.side-navigation .menu-main-menu-container{
		display: block;
	}
	
	#site-navigation .menu-toggle {
		display: block;
	}

}

/* 1-17-20 merge */
#gform_6 input[type="text"]::placeholder, #gform_6 textarea::placeholder {
	font-family: 'Titillium Web', "Font Awesome 5 Pro", sans-serif;
}
#gform_6 input[type="text"]::-ms-input-placeholder, #gform_6 textarea::-ms-input-placeholder {
	font-family: 'Titillium Web', "Font Awesome 5 Pro", sans-serif;
}

.approach-tab-top, .approach-tab-content {
	display: flex;
}

.approach-tab-info, .approach-tab-venn, .approach-tab-content-right {
	width: 66%;
}
.approach-tab-venn{
	padding-right: 1em;
}
.approach-tab-ideal-projects{
	width: 33%;
}
.approach-tab-content {
	margin-top: 30px;
}

.approach-tab-ideal-projects ul, .approach-tab-content-pro-cons ul, .approach-tab-popup ul {
	list-style: none;
	margin-top: 3em;
}
.approach-tab-ideal-projects ul, .approach-tab-ideal-projects ol{
	margin-top: 1em;
}
.approach-tab-ideal-projects ul li, .approach-tab-ideal-projects ol li{
  margin-bottom: .8em;
}
.approach-tab-venn {
	position: relative;
}
.approach-tab-venn img{
 object-fit: contain;
}
.approach-tab-popup {
	width: 400px;
	position: absolute;
	background: white;
	//left: 50%;
	//top: 50%;
	z-index: 5;
	//opacity: 0;
	display: none;
	padding: 2em 2em 1em;
	box-shadow: 0 0 10px -3px rgba(0,0,0,.5);
}

.approach-tab-venn:hover .approach-tab-popup {
	//opacity: 1;
	//display: block;
}
.approach-tab-key {
	font-weight: bold;
}

.approach-tab-key-letter {
	border: 2px solid;
	border-radius: 20px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-left: 20px;
}

.approach-tab-info h3, .approach-tab-ideal-projects h3, .approach-tab-content-pro-cons h3 {
	color: #991E31;
}
.fa-check-circle::before {
	color: green;
	font-size: 25px;
}

.fa-times-circle::before {
	color: #991E31;
	font-size: 25px;
}

.approach-tab-content-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.approach-tab-content-pro-cons ul li {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.approach-tab-popup ul li {
	margin-left: 15px;
	display: flex;
	align-items: center;
	margin-bottom: 1.2em;
}
.approach-tab-popup ul li:last-of-type{
	margin-bottom: 0;
}

.approach-tab-content-pro-cons ul li i {
	margin-right: 20px;
}

.approach-tab-popup ul li i {
	position: absolute;
	left: 2em;
}

.approach-tab-content-pro-cons {
	//width: 350px;
}

.approach-tab-content-pro-cons ul li span {
	position: relative;
	left: 16px;
}

.approach-tab-info {
	border-right: 2px solid #414042;
	margin-right: 2em;
	padding-right: 3em;
}


#approach-tabs {
	border: none;
}
#approach-tabs.ui-tabs .ui-tabs-panel{
	padding-top: 4em !important;
	margin-bottom: 4em;
}
#approach-tabs .ui-tabs-nav {
	background: none;
	padding: 0;
	border: none;
	display: flex;
	justify-content: center;
}

#approach-tabs.ui-tabs .ui-tabs-nav li {
	background: white;
	border: 2px solid black;
	margin-bottom: 0px;
	margin-right: -2px;
}

#approach-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: black;
}
.containereight{
	max-width: 800px;
	width: 100%;
	margin: 0 auto 1em;
}

.gform_wrapper{
	max-width: 800px !important;
	width: 100% !important;
	margin: 2em auto 2.5em;
}
/* merge end */

@media screen and (max-width: 1240px){
	.page-template-default .entry-content{
		max-width: 1200px;
		width: 100%;
		padding: 0 20px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1060px){
	.affiliationsreferenceslogos{
		flex-direction: column;
	}
	.affiliationsreferenceslogos .viewall.item{
		margin: 40px auto 0;
	}
	.keycode{
		display: flex;
		flex-direction: column;
	}
	.keycode .keyletter{
  margin-bottom: .5em;
	}
	
}
@media screen and (max-width: 980px){
	ul#ftcta{
		flex-direction: column;
	}
	ul#ftcta a{
		display: flex;
		justify-content: center;
	}
	#projectscta{
		flex-direction: column;
		padding: 2em 1.1em;
		align-items: center;
		text-align: center;
	}
	#projectscta .item{
		margin: 10px auto;
	}
	.approach-tab-top, .approach-tab-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.approach-tab-key{
		margin: 3em auto;
	}
	approach-tab-top, .approach-tab-content {
		display: flex;
		align-content: center;
		flex-direction: column;
		justify-content: center;
	}
	.approach-tab-ideal-projects, .approach-tab-info, .approach-tab-venn, .approach-tab-content-right {
    width: 66%;
  }
	.approach-tab-info {
		border-right: none;
		border-bottom: 2px solid #414042;
		margin-right: 0;
		margin-bottom: 2em;
		padding-right: 0;
		padding-bottom: 1em;
	}
	
	.project_video {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: calc(100% - 40px);
		max-width: 400px;
		position: relative;
		bottom: -10px;
		left: 20px;
		border: 1px solid;
		z-index: 10;
		background: white;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
		padding: 10px;
	}
	.project-details-left {
		border-right: 0;
		border-bottom: 3px solid black;
		padding-right: 0;
				padding-bottom: 40px;
		margin-right: 0px;
		margin-bottom: 2em;
		flex: 50%;
	}
	.project-next-post{
		padding: 0 20px;
	}
	.project-next-post .box .boxcontent span{
		position: relative;
		left: 0;
	}
	.project-next-post .box .boxcontent a .item{
		flex-direction: column;
    display: flex;
	}
	.project-details{
		flex-direction: column;
		padding: 0 20px;
	}
	.project-details-right {
		flex: 50%;
		padding-left: 0px;

	}
	.projectfeature{
		height: 100%;
		min-height: 40vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		background-size: cover !important;
		background-color: rgba(65,64,66,1) !important;
		background-blend-mode: multiply !important;
		background-position: center center;
	}
	.home .owl-carousel .owl-item .slideitem, .projectslider .owl-item .slideitem {
		height: 50vh;
		min-height: 50vh;
		max-width: 1440px;
		width: 100%;
		//display: flex;
		//justify-content: center;
		//align-items: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.projectfeature .entry-title{
		font-size: 3em;
		line-height: 1em;
		padding: 0 20px;
	}
	.site-info.container{
		flex-direction: column;
    align-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 800px){
	.approach-tab-ideal-projects, .approach-tab-info, .approach-tab-venn, .approach-tab-content-right {
    width: 100%;
  }
	.approach-tab-ideal-projects ul, .approach-tab-content-pro-cons ul, .approach-tab-popup ul{
		margin-left: 0;
	}
	.homeanimation{
		max-width: 50vw;
		max-width: 100%;
		width: 100%;
		width: 50vw;
		height: 100%;
	}
	.boxpopup {
		position: relative;
		background: #fff;
		//padding: 20px;
		height: 100%;
		width: auto;
		max-width: 90vw;
		margin: 20px auto;
		display: flex;
		flex-direction: column;
		top: 60px;
	}
	.boxpopup .mfp-close::after {
			color: #fff;
	}
	.boxpopup .rightside {
			padding: 1em;
			flex: 1;
	}
	.wp-block-columns{
    flex-direction: column;
	}
	.wp-block-quote:before, .wp-block-quote:after{
		top: -70px;
		font-size: 140px;
	}
	.wp-block-quote:after{
		right: 30px;
	}
	.wp-block-quote {
		padding: 1.5em 2em;
	}
	.available-positions-block .wp-block-column.jobposting{
		margin-bottom: 2em;
	}
	.wp-block-columns.divider .wp-block-column:not(:first-child) {
		margin-left: 0;
		margin-top: 5vw;
		border-top: 2px solid #D8D8D8;
		border-left: 0;
		padding-top: 5vw;
		padding-left: 0;
	}
	.keycode{
		display: flex;
		flex-direction: column;

	}
	.keycode .keyletter{
    	margin-bottom: .5em;
	}
	.wp-block-column:not(:first-child) {
    margin-left: 0vw;
  }
	.projects-archive .featured-projects .box:nth-of-type(4n + 1), .projects-archive .featured-projects .box:nth-of-type(4n + 4),	.projects-archive .featured-projects .box:nth-of-type(4n + 2), .projects-archive .featured-projects .box:nth-of-type(4n + 3) {
				width: 100%;
	}
	.site-info .coltwothree{
		display: flex;
		justify-content: space-between;
		flex: 1;
		max-width: 100%;
	}
	.approach-tab-popups{
		display: none !important;
	}
}
@media screen and (max-width: 640px){
	
	.staff-list .box {
		max-height: 400px;
		height: 60vw;
		width: 100%;
		min-width: calc(50% - 10px);
		max-width: 288px;
		max-width: 24%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: white;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 5px;
	}
}